    .sidebarContainer .title {
        color: #ff7506 !important;
        font-size: 24px !important;
        margin-top: 30px;
    }
    
    .sidebarContainer {
        height: 100vh;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px 0 rgb(219, 219, 219);
        padding: 0 24px;
    }
    
    .number {
        font-size: 24px;
        line-height: 36px;
        font-weight: 800;
        margin-bottom: 0;
    }
    
    .sidebarContainer .chartCircle {
        height: 60px;
        width: 60px;
        margin-right: 12px;
    }
    
    .sidebarContainer .calendar {
        display: flex;
        justify-content: center;
        box-shadow: 2px 2px 15px 0 rgba(70, 64, 67, 0.1);
        border-radius: 12px;
    }
    
    .contentContainer {
        padding: 0 24px;
    }
    
    .contentContainer .title {
        color: #ff7506 !important;
        font-size: 24px !important;
        margin-top: 30px;
        margin-right: 67rem;
    }
    
    .contentContainer .cardContainer {
        box-shadow: 2px 2px 15px 0 rgba(70, 64, 67, 0.1);
        border-radius: 8px;
    }
    
    .contentContainer .cardContainer .text {
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
    }
    
    .contentContainer .cardContainer .number {
        font-size: 30px;
        line-height: 36px;
        line-height: 45px;
        font-weight: 700;
        margin-bottom: 0;
    }
    
    .contentContainer .cardContainer .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        font-size: 24px;
        border-radius: 50%;
        margin-right: 50px;
    }
    
    .contentContainer .cardContainer .tag {
        border-radius: 7px;
        font-size: 12px;
        font-weight: 400;
        height: 18px;
        line-height: 15px;
        width: 50px;
        margin-right: 2;
    }
    
    .contentContainer .chartContainer {
        margin-top: 16px;
        box-shadow: 2px 2px 15px 0 rgba(70, 64, 67, 0.1);
        height: 620px;
        border-radius: 8px;
    }
    
    .contentContainer .chartContainer .title {
        font-size: 20px !important;
        color: #282739 !important;
        margin: 0;
    }
    
    .contentContainer .chartContainer .text {
        font-size: 14px !important;
        color: #A9A9B0 !important;
        font-weight: 400;
    }
    
    .contentContainer .chartContainer .label {
        font-weight: 600;
        font-size: 16px;
    }
    
    .contentContainer .chartContainer .selectContianer {
        margin-bottom: 0;
        width: 100px;
    }