.buttonSide {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.wrapper {
    width: 80px;
    border-radius: 8px 0px 0px 8px;
    background-color: #fff2e7;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    font-size: 24px;
    width: 24px;
    fill: #ff7506;
    color: #ff7506;
    margin-bottom: 6px;
}

.text {
    color: #ff7506;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    width: 72px;
    text-align: center;
}

.button {
    width: 100%;
    height: auto;
    padding: 15px 4px 12px 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}